/* Write your CSS here */
.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.text {
  color: #000000;
  font-family: 'Bree Serif';
  font-size: 12px;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 18px;
  }
}
.button {
  color: purple;
  border-color: purple;
  background-color: transparent;
  border-style: solid;
  border-radius: 5px;
  padding: 5px;
  margin-left: 50px;
}
@media screen and (min-width: 768px) {
  .button {
    padding: 10px;
  }
}
